body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  position:fixed;
  top: 0;
  height: 50px;
  width: 100%;
  background: #E5E5E5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 999;
}

.navbar .logo {
  position: relative;
  text-decoration: none;
  background-color: #EB34CF;
  font-size: 1.5rem;
  font-weight: 700;
  left: 3%;
  letter-spacing: 2px;
  border-radius: 50%;
}

.navbar ul {
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  margin-right: 5rem;
  height: 100%;
  width: 35%;
  padding: 0rem;
  overflow: hidden;
}

.navbar li {
  list-style-type: none;
  text-decoration: none;
  display: inline-block;
  height: inherit;
  width: auto;
  transition: 0.3s linear;
}

.navbar li a {
  display: block;
  padding: 8px;
}

.navbar .link {
  text-decoration: none;
  height: 100%;
  display: flex;
  width: 100%;
  justify-content: center;
  padding: auto;
  color: black;
  font-size: 1.2rem;
  font-weight: 550;
  letter-spacing: 0.5px;
  transition: 0.3s linear;
}

.navbar li:hover .link, navbar li .active {
  background: #EB34CF;
  color: aliceblue;
}

/*add same styles for the pages*/
.about, .contact, .photography, .blogs{
  position: relative;
  background: #c5c0b4;
  background-position: center center;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
  margin-top: 1rem;
  align-items: center;
  justify-content: center;
}

/*About Syles*/
.about_content {
  display: flex;
  margin-right: 2rem;
  position:relative;
  top: 6rem;
  left: 2rem;
}

.about_content p {
  font-family: sans-serif;
  margin-right: 2rem;
  font-size: 1.5rem;
  margin-left: 2rem;
}

/*Contact Syles*/
.contact h1 {
  margin-top: 5rem;
  text-align: center;
}

/*Blogs Syles*/
.blogs h1 {
  margin-top: 5rem;
  text-align: center;
}

/*Photography Syles*/

.photography {
  position:relative;
  margin-top: 0rem;
}

.photography_content h1 {
  position:relative;
  margin-top: 5rem;
  text-align: center;
}
